<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Submit Comment on Dish</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeComment()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="commentForm" ng-submit="submitComment()">
      <ul class="list">
        <li>
          <lable class="item item-input item-select">
            <span class="input-label">Rating</span>
            <select ng-model="comment.rating" ng-options="n for n in [1,2,3,4,5] track by n" required>
            </select>
          </lable>
        </li>
        <li>
          <label class="item item-input">
            <span class="input-label">Your Name</span>
            <input type="text" ng-model="comment.author" required>
          </label>
        </li>
        <li>
          <label class="item item-input">
            <span class="input-label">Your Comment</span>
            <input type="text" ng-model="comment.comment" required>
          </label>
        </li>
        <li>
          <label class="item">
            <!-- Simple validation - disallow submitting empty form -->
            <button class="button button-block button-positive" type="submit" ng-disabled="!commentForm.$valid">Submit</button>
          </label>
        </li>
      </ul>
    </form>
  </ion-content>
</ion-modal-view>
