/* Empty. Add your own CSS if you like */

/*to fix scrollbar on Android*/
/*instead of <ion-content overflow-scroll="false">*/
/*ion-content {
  overflow-y: auto !important;
}*/
/*::-webkit-scrollbar {
    display: none;
}*/
/*.overflow-scroll {
     overflow-x: hidden;
     overflow-y: auto;
}*/
.popover {
  height: auto !important;
}
.popover ion-header-bar {
  position: relative;
}
.popover ion-content {
  top: 0;
  position: relative;
}
.popover-inner-content {
  width: 100%;
  padding: 5px 20px;
}
